# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle
build/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
*.swp
*.swo
*~

# Git
.git
.gitignore
.gitattributes

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docs
*.md

# Optional (nếu có frontend/test)
node_modules/
dist/
coverage/